<div id="myModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <a href="/" type="button" class="close" aria-hidden="true">&times;</a>
                <h4 id="articlesAdded" class="modal-title"></h4>
            </div>
            <div class="modal-body">
            <p> Added {{numberArticles}} new articles!</p>
            </div>
            <div class="modal-footer">
                <!--<button id="numArticles" type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <a href="/" type="button" class="btn btn-default">Close</a>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>